.footer {
  padding: 0 14% 10px;
  background: #2c2c2c;
  border-radius: 30px 30px 0 0;

  @media (max-width: 600px) {
    & {
      padding: 50px;
    }
  }

  &__form {
    margin-right: 50px;

    @media (max-width: 1000px) {
      & {
        margin: 0 auto;
      }
    }
  }

  &__wrape {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1000px) {
      & {
        flex-direction: column;
        margin: 0 auto;
      }
    }
  }

  &__subtitle {
    margin: 100px 0 46px;
    line-height: 48px;
    color: #fff;

    @media (max-width: 1000px) {
      & {
        text-align: center;
      }
    }
  }

  &__sup-text {
    margin-bottom: 8px;
    line-height: 19px;
    color: #fff;
    opacity: 0.5;
  }

  &__text {
    margin-bottom: 48px;
    line-height: 36px;
    color: #fff;
  }

  &__socials {
    margin: 19px 0 50px;
  }
}

.form {
  &__input {
    display: block;
    margin: 0 auto 48px;
    width: 460px;
    border: 0;
    border-bottom: 2px solid #5f6570;
    background: #2c2c2c;
    color: #fff;
    transition: border-color 0.7s;
    cursor: pointer;

    &:hover {
      border-color: #1c55db;
    }

    @media (max-width: 1200px) {
      & {
        max-width: 475px;
      }
    }

    @media (max-width: 800px) {
      & {
        max-width: 375px;
      }
    }

    @media (max-width: 470px) {
      & {
        max-width: 235px;
      }
    }
  }

  &__button {
    @media (max-width: 1000px) {
      & {
        display: block;
        margin: 0 auto 86px;
      }
    }
  }
}

.nav {
  &__footer {
    display: flex;
    justify-content: space-between;

    @media (max-width: 950px) {
      & {
        display: none;
      }
    }
  }

  &__list-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 1000px;

    @media (min-width: 1400px) {
      &:first-child {
        margin-left: -35px;
      }
    }
  }

  &__logo-footer {
    padding-right: 200px;
    margin-top: 7.5px;
  }

  &__item-footer {
    margin-top: 0;
  }
}

.socials {
  &__link {
    margin-right: 36px;
    outline: none;
  }

  &__link:focus path {
    fill: #2060f6;
    outline: none;
  }

  &__icon:hover path {
    fill: #2060f6;
  }
}
